* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
    sans-serif;
  background-color: #000;
  color: #fff;
  /* padding-top: 2rem; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about {
  background-color: #fff;
  color: #000;
}

/* TITLEBAR */
.titlebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 27px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
  transition: 0.1s ease-in;
}

.titlebar:hover {
  background-color: rgb(21, 21, 21);
}
